@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    src: url("./ADOBEARABIC-REGULAR.OTF");
    font-family: 'ADOBEARABIC';

}
*{
    font-family: 'ADOBEARABIC';
}


*::selection {
    user-select: none;
    overflow: hidden;
}

header {
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)), url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#navbar {
    background: linear-gradient(rgb(0, 0, 0, .5), rgb(0, 0, 0, .8));
}

.navpad2 {
    padding: 30px;
    transition: padding 1s;
}

.navpad {
    padding: 10px;
    transition: padding 1s;
}

#anim {
    overflow: hidden;
}

#bannerUser {
    transform: scale(0);
}

#bannerContent {
    animation: animateHeadD 3s forwards;
}

input[type=checkbox] {
    transform: scale(1.5);
}



@keyframes animateHeadD {
    0% {
        opacity: 0;
        transform: translateX(-150%);
    }

    100% {
        opacity: 1;
        transform: translateX(20%);
    }
}

@keyframes animateHeadA {
    0% {
        opacity: 0;
        transform: translateX(-150%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.line1 {
    animation: animateMenuLine1 1s forwards;
}

.line2 {
    animation: animateMenuLine2 1s forwards;
}

@keyframes animateMenuLine1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        bottom: 4px;
        transform: rotate(45deg);
    }
}

@keyframes animateMenuLine2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}



.animClassText {
    animation: animText .7s;
}

.animClassImg {
    animation: animImg 1s;
}

@keyframes animImg {
    0% {
        transform: translateX(-80px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes animText {
    0% {
        transform: translateX(+50px);
    }

    100% {
        transform: translateX(0px);
    }
}

#imags img {
    width: 600px;
    height: 330px;
}

.plan {
    background: linear-gradient(rgb(0, 0, 0, .7), rgb(0, 0, 0, .6)), url("../images/membership.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 10px 15px 10px rgb(78, 76, 76);
}

.card1 {
    animation: card1 2s;
    overflow: hidden;
}

.card2 {
    animation: card2 2s;
    overflow: hidden;
}

.card3 {
    animation: card3 2s;
    overflow: hidden;
}

@keyframes card1 {
    0% {
        opacity: 0;
        transform: translateX(-160px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes card2 {
    0% {
        opacity: 0;
        transform: translateY(+180px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes card3 {
    0% {
        opacity: 0;
        transform: translateX(+160px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 768px) {
    #bannerContent {
        animation: animateHeadA 3s forwards;
    }

    #navbar {
        padding: 8px;
    }

    #anim {
        height: 0px;
        width: 100vw;
    }

    #login {
        margin-top: 0px;
    }



    #paiin {
        background: linear-gradient(105deg, rgba(15, 22, 22, 0.8) 0%, rgba(10, 14, 14, 0.9) 50%);
    }
}

#paiin {
    background: linear-gradient(105deg, rgb(0, 0, 0, .8) 0%, rgb(0, 0, 0, .6) 50%, transparent 50%), url("../images/contact.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}